.services-section {
  height: var(--content-height, 100%);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  @media screen and (orientation: landscape) and (max-height: 500px) {
    row-gap: 1rem;
  }

  @media screen and (min-width: 769px) and (min-height: 501px) {
    gap: 5rem;
  }

  @media screen and (min-width: 1024px) and (min-height: 501px) {
    row-gap: 5rem;
  }

  &__titles {
    &__title {
      font-family:
        Space Grotesk,
        sans-serif;
      font-weight: bold;
      font-size: var(--main-title);
      text-transform: uppercase;

      @media screen and (min-width: 1024px) {
        font-size: var(--main-title);
      }

      @media screen and (orientation: landscape) and (max-height: 500px) {
        font-size: 3.5rem;
      }
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    @media screen and (orientation: landscape) and (max-height: 500px) {
      flex-direction: row;
    }

    @media screen and (min-width: 769px) and (min-height: 501px) {
      gap: 1rem;
      flex-direction: row;
    }

    @media screen and (min-width: 1024px) and (min-height: 501px) {
      gap: 1rem;
      flex-direction: row;
    }
  }
}
