.number-cards-container {
  flex-direction: column;
  height: 10rem;
  width: 100%;
  padding: 1rem;
  border: 0.2rem solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Space Grotesk', sans-serif;
  transition:
    border-radius 0.2s,
    border-color 0.2s;

  @media (hover: hover) {
    &:hover {
      border-radius: 5rem;
      transition:
        border-radius 0.2s,
        border-color 0.2s;
      border-color: #ffabf3;
      cursor: pointer;
    }
  }

  &:active {
    border-radius: 5rem;
    transition:
      border-radius 0.2s,
      border-color 0.2s;
    border-color: #ffabf3;
  }

  @media screen and (min-width: 1024px) {
    height: 20rem;
    width: 60rem;
  }

  @media screen and (orientation: landscape) and (max-height: 500px) {
    padding: 0.5rem;
    height: 10rem;
    width: 32rem;
  }

  h2 {
    font-size: var(--main-title);
    font-weight: bold;
    background-image: linear-gradient(to right, #dbc2ee 0%, #4500ce 100%);
    color: transparent;
    background-clip: text;
    transition: font-size 0.2s ease;

    @media screen and (min-width: 1024px) {
      font-size: var(--main-title);
    }

    @media screen and (orientation: landscape) and (max-height: 500px) {
      font-size: 4rem; // Force smaller size on short screens
    }
  }

  p {
    font-size: 1.25rem;
    font-style: italic;
    text-align: center;

    @media screen and (min-width: 1024px) {
      font-size: 2.2rem;
    }

    @media screen and (orientation: landscape) and (max-height: 500px) {
      font-size: 1.25rem;
    }
  }
}
