.contact-section {
  height: var(--content-height, 100%);
  width: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  &__presentation {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 1rem;
    flex: 1;

    @media screen and (min-width: 768px) {
      flex: 2;
    }

    &__main {
      font-size: 6rem;
      text-transform: uppercase;
      font-family:
        Space Grotesk,
        sans-serif;
      font-weight: bold;

      @media screen and (min-width: 768px) {
        font-size: 12rem;
      }

      @media screen and (orientation: landscape) and (max-height: 500px) {
        font-size: 6rem;
      }
    }

    &__sub {
      font-size: 2rem;
      font-family: Newsreader, serif;
      font-style: italic;
      color: #e5e2e1;

      @media screen and (min-width: 768px) {
        font-size: 3rem;
      }

      @media screen and (orientation: landscape) and (max-height: 500px) {
        font-size: 2rem;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-shadow: -10px 0 15px -10px #ffabf3;
    row-gap: 2rem;
    background-color: #201f1f;

    input,
    textarea {
      background-color: transparent;
      font-family:
        Space Grotesk,
        sans-serif;
      border: none;
      text-transform: uppercase;
      padding-left: 3rem;
      border-bottom: 0.2rem solid #464555;
      width: 100%;
      font-size: 2rem;

      @media screen and (min-width: 768px) {
        font-size: 4rem;
      }

      @media screen and (orientation: landscape) and (max-height: 500px) {
        font-size: 2rem;
      }

      &:focus {
        outline: none;
      }
    }

    textarea {
      resize: none;

      @media screen and (min-width: 768px) {
        height: 20rem;
      }

      &::placeholder {
        padding-top: 25%;

        @media screen and (min-width: 768px) {
          padding-top: 7.5rem;
        }
      }
    }
  }
}
