.contact-section {
  height: var(--content-height, 100%);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-block: 6rem;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    column-gap: 8rem;
    padding-block: 12rem;
  }

  &__presentation {
    height: 100%;
    flex: 1;

    &__main {
      font-size: 6rem;
      text-transform: uppercase;
      font-family:
        Space Grotesk,
        sans-serif;
      font-weight: bold;

      @media screen and (min-width: 768px) {
        font-size: 12rem;
      }
    }

    &__sub {
      font-size: 1.5rem;
      font-family: Newsreader, serif;
      font-style: italic;
      color: #e5e2e1;

      @media screen and (min-width: 768px) {
        font-size: 3rem;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    border-left: 1rem solid #ff92ff;
    height: 100%;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    background-color: #201f1f;

    input,
    textarea {
      background-color: transparent;
      font-family:
        Space Grotesk,
        sans-serif;
      border: none;
      text-transform: uppercase;
      padding-left: 3rem;
      border-bottom: 0.2rem solid #464555;
      height: 10rem;
      width: 100%;
      font-size: 3rem;

      &:focus {
        outline: none;
      }
    }

    textarea {
      resize: none;
      height: 20rem;

      &::placeholder {
        padding-top: 7.5rem;
      }
    }
  }
}
