.page-container {
  position: relative;

  &__header {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 2;

    display: flex;
    align-items: center;
    gap: 1rem;

    @media screen and (min-width: 1024px) {
      top: 2rem;
      right: 2rem;
      gap: 1.5rem;
    }

    &__words {
      display: flex;
      flex-direction: column;
      text-align: right;

      span {
        font-size: 1rem;
        font-family: var(--font-spacegrotesk);
        line-height: 1.2;
      }

      @media screen and (min-width: 1024px) {
        span {
          font-size: 1.8rem;
        }
      }
    }

    &__logo {
      position: relative;
      height: 5rem;
      width: 5rem;
      flex-shrink: 0;

      @media screen and (min-width: 1024px) {
        height: 7rem;
        width: 7rem;
      }
    }
  }
}
