.hero-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
      row-gap: 2rem;
      flex: 2;
    }

    &__badge {
      background-color: #ff5ee8;
      letter-spacing: 0.6rem;
      color: #5b005b;
      padding: 0.5rem 1rem;
      font-weight: bold;
      font-size: 1.1rem;
      text-transform: uppercase;
      width: fit-content;

      @media screen and (min-width: 640px) {
        padding: 1rem 2rem;
        letter-spacing: 1rem;
        font-size: 1.5rem;
      }
    }

    &__main {
      font-size: 5rem;
      font-family: 'Space Grotesk', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 60px;

      @media screen and (min-width: 769px) {
        font-size: 12rem;
        line-height: 120px;
      }
    }

    &__sub {
      font-size: 2rem;
      margin-top: 0.5rem;
      font-family: 'Newsreader', serif;
      font-style: italic;
      font-weight: 200;

      @media screen and (min-width: 640px) {
        font-size: 3rem;
        margin-top: 1rem;
      }
    }

    &__buttons {
      display: flex;
      justify-content: space-around;

      @media screen and (min-width: 640px) {
        column-gap: 2rem;
        justify-content: unset;
      }

      &__button-1,
      &__button-2 {
        padding: 1rem 2rem;
        font-family: 'Space Grotesk', sans-serif;
        font-weight: bold;
        font-size: 1.3rem;
        text-transform: uppercase;
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 640px) {
          padding: 2rem 4rem;
          font-size: 1.65rem;
        }

        &:hover {
          cursor: pointer;
          filter: drop-shadow(5px 5px 10px white);
          color: white;
        }
      }

      &__button-1 {
        color: #1000a9;
        background-image: linear-gradient(to right, #dbc2ee 0%, #4500ce 100%);
        color: #5b005b;
        border: none;
      }

      &__button-2 {
        color: #5b005b;
        background-color: transparent;
        border: 2px solid #5b005b;
      }
    }
  }

  &__picture {
    flex: 1;
    width: 100%;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
    }

    @media screen and (min-width: 1024px) {
      height: 80%;

      font-size: 3rem;
      margin-top: 1rem;
    }
  }
}
