.section-container {
  // CSS variables for calculation
  --section-padding-top: 5rem;
  --section-padding-bottom: 7rem;

  // Responsive one
  @media screen and (min-width: 1024px) {
    --section-padding-top: 10rem;
    --section-padding-bottom: 14rem;
  }

  //Calculation of the oontent height variable if needed
  --content-height: calc(
    100dvh - (var(--section-padding-top) + var(--section-padding-bottom))
  );

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  width: 100%;
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  box-sizing: border-box;
  scroll-snap-align: start;
}
